<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ShareHere</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <section class="upload-container">
        <div class="drop">
            <div class="icon">
<img src="img/file.svg" class="center" alt=" file icon" draggable="false">
<img src="img/file.svg" class="left" alt=" file icon" draggable="false">
<img src="img/file.svg" class="right" alt=" file icon" draggable="false">
            </div>
            <div class="comment">Drop your files here or , <span id="btn-browse">Browse</span></div>
        </div>
    </section>
    <script src="js/main.js"></script>
</body>
</html>