:root{
    --bg-color:#059e8c;
    --border-color:#f9a826ce;
    --set-width:500px;
    --box-shadow:0px 20px 20px #991b1b2e;
}

body,html{
    font-family: system-ui;
    background: #696969;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    height: 100%;
}
#main_div{
    margin-top: 10%;
    justify-content: center;
    display: flex;
    align-items: center !important;
    flex-direction: row;
    margin-bottom: 50px;
   
    
}

.drop ,.upload-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.drop{
    width: var(--set-width);
    min-height: 200px;
    border:2px dashed var(--border-color) ;
    margin: 30px;
    border-radius: 10px;
    transition: all .27s ease-in-out;
    
}
.drop .comment{
    color: #696969;
}
.upload-container{
    background: #fafafa;
    border-radius: 25px;
    
    margin-top: 50px;
    box-shadow: 9px 11px 8px 0px rgba(249,168,38,0.51);
    -webkit-box-shadow: 9px 11px 8px 0px rgba(249,168,38,0.51);
    -moz-box-shadow: 9px 11px 8px 0px rgba(249,168,38,0.51);
}

.icon{
    width: 80px;
    position: relative;
    height: 100px;

}
.icon img{
    width: 80px;
    position: absolute;
    transform-origin: bottom;
    transition: transform .3s ease-in-out;
    
}
.icon .right ,.icon .left{
    filter: grayscale(.5);
    transform: scale(.8);
    }
.icon .center{
    z-index: 1;
}
.dragged .icon .right{
    transform:rotate(10deg) translateX(22px) scale(0.9);
}
.dragged .icon .left{
    transform:rotate(-10deg) translateX(-22px) scale(0.9) ;
}
.dragged .icon .center{
    transform: translateY(-5px);
}
.dragged.drop{
    background: #b0e0db;
    border-color: #696969;
}
#file_type{
    display: none;
}
#btn-browse{
    color: #F9A826;
    cursor: pointer;
    font-weight: bold;
}
.progress{
width: var(--set-width);
height: 62px;
border: 2px solid #696969;
margin-bottom: 20px;
border-radius: 10px;
position: relative;
display: none;
}
.progress .bg_progress{
    background-color: #f9a826b2;
    width: 0%;
    height: 100%;
    border-radius: 3px;
    transform: width .27s linear;
  position: absolute;
 

}
.progress .inner_container{
    position: absolute;
    z-index: 1;
    margin: 4px 12px;
    width: calc(100% - 18px) ;
}
.percent{
font-size: 12px;
margin:3px ;
color: #696969;
}
.progressbar{
    width: 100%;
    height: 3px;
    border-radius: 3px;
    transform-origin: left;
    transform: scaleX(0);
    transition:transform .27s linear ;
    background-color: #696969;
}
.link_share{
    width: var(--set-width);
    margin-bottom: 18px;
    display: none;
}
 .expire ,#mail_p{
    text-align: center;
    color: #696969;
}
.link_share .input_url input{
    width: var(--set-width);
    border: 2px dashed #696969;
    border-radius: 5px;
    padding: 10px 14px ;
    box-sizing: border-box;
    font-size: 18px;
    outline: none;
    background-color: #f9a826b2;
    color: #fff;
}
.link_share .input_url{
    position: relative;
}
.input_url img{
    position: absolute;
    height: 20px;
    width: 32px;
    right: 2px ;
    top: 12px;
    cursor: pointer;
}
.email_container{
    display: flex;
    justify-content:center;
    flex-direction: column;
  
}
.email_container form{
    width: 476px;
    border: 2px solid var(--border-color);
    border-radius: 12px;
    padding: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.email_container .email_div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    width: 400px;
}
.email_container label{
    font-size: 18px;
    color: #696969;
}
.email_container input{
    font-size: 18px;
    border: none;
    border-bottom: 2px solid var(--border-color);
    outline: none;
    color: #696969;

}
 #btn_form{
margin-top: 20px;
margin-bottom: 12px;
padding: 10px 20px;
font-size: 18px;
color: #F9A826;
background: #696969;

border: none;
border-radius: 10px;
box-shadow: -1px 12px 26px 1px rgba(105,105,105,0.65);
-webkit-box-shadow: -1px 12px 26px 1px rgba(105,105,105,0.65);
-moz-box-shadow: -1px 12px 26px 1px rgba(105,105,105,0.65);

}
#btn_form:hover{
    cursor: pointer;
transform: scale(1.07);
transition: .4s ease-in-out;
}
#btn_form a{
    text-decoration: none;
    color: #F9A826;
}

.email_noty{
    position: absolute;
    left: 1%;
    margin-top: 250px;
    padding: 10px 20px;
    transform: translateX(-200%);
    border-radius: 8px;
    background-color: #f9a826ce;
     color: #fff;
    box-shadow: -1px 12px 26px 1px rgba(105,105,105,0.65);
    -webkit-box-shadow: -1px 12px 26px 1px rgba(105,105,105,0.65);
    -moz-box-shadow: -1px 12px 26px 1px rgba(105,105,105,0.65);
    transition:transform  ease-in-out 0.3s;
}
.upload_img{
    background-image: url(../img/upload.svg);
    width: 50vw;
    height: 70vh;
    margin-left: 50px;
    background-size: contain;
     background-repeat: no-repeat;
  background-size: cover;
 
 
}
#logo{
    position: absolute; top: -20px; border: 0; left: 86px; 
   }
.downloads{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #696969;
    padding: 30px 20px;
    margin: 50px 10px;
    width: 420px;
    border-radius: 20px;
    background-color: #fafafa;
    box-shadow: 9px 11px 8px 0px rgba(249,168,38,0.51);
    -webkit-box-shadow: 9px 11px 8px 0px rgba(249,168,38,0.51);
    -moz-box-shadow: 9px 11px 8px 0px rgba(249,168,38,0.51);
}
#download_logo{
    width: 80px;
   
    
}

@media screen and (max-width: 900px){
    :root{
        --set-width:300px;
    }
    body{
        overflow-y: scroll;
        
    }
    .upload_img{
        display: none;
    }
    #logo{
        position: absolute; top: -20px; border: 0; left: 25px; 
       }
       #main_div{
           margin-top: 120px;
       }
   
    .email_container .email_div{
        flex-direction: column;
        width: 300px;
        
    }
    .email_container form{
        width: 300px;
     
    }
}
@media screen and (max-width: 400px){
    :root{
        --set-width:250px;
    }
    
    .email_container form{
        width: 230px;
    }
    #btn-form{
        text-align: center;
    }
    .email_container .email_div{
   
        width: 230px;
        
    }
    
}
@media screen and (max-width : 1024px){
    .upload_img{
        display: none;
    }
   }
